header {
  background-color: lemonchiffon; }
  header nav {
    text-align: center; }
    header nav a {
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      header nav a:hover {
        color: rgba(50, 209, 18, 0.671); }
